*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    background:
    linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
    );

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.container{

    width:100%;

    display:flex;

    justify-content:center;
}

.card{

    background:white;

    width:500px;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0px 10px 30px
    rgba(0,0,0,0.2);

    text-align:center;
}

h1{

    color:#333;

    margin-bottom:10px;
}

p{

    color:#666;

    margin-bottom:20px;
}

input[type=file]{

    margin:15px 0;
}

#preview{

    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    border:3px solid #ddd;
    margin:20px auto;
}

button{

    background:#4facfe;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    background:#008cff;

    transform:scale(1.05);
}

.result{

    margin-top:25px;

    background:#f4f9ff;

    padding:15px;

    border-radius:10px;
}

.result h2{

    color:#008cff;
}

#imageInput{
    display:none;
}

.upload-btn{

    display:inline-block;

    padding:12px 25px;

    background:#007bff;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    font-weight:bold;

    transition:0.3s;
}

.upload-btn:hover{

    background:#0056b3;

    transform:scale(1.05);
}

.uploaded-image{

    display:block;

    width:250px;

    height:250px;

    object-fit:cover;

    margin:20px auto;

    border-radius:15px;

    border:3px solid #ddd;
}
