<!DOCTYPE html>
<html>

<head>
    <title>Image Classification</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1> Image Classification</h1>

        <p>Upload an image and predict its class using CNN</p>

      <form action="/predict"
      method="POST"
      enctype="multipart/form-data">

    <label for="imageInput" class="upload-btn">
         Upload Image
    </label>

    <input
        type="file"
        id="imageInput"
        name="image"
        accept="image/*"
        onchange="previewImage(event)"
        required>

    <p id="fileName">
        No file selected
    </p>


	{% if image_path %}

<img
    id="preview"
    src="{{ url_for('static', filename=image_path) }}"
    class="uploaded-image"
>

{% else %}

<img
    id="preview"
    class="uploaded-image"
    style="display:none"
>

{% endif %}

    

    <br>

    <button type="submit">
         Predict
    </button>

</form>
	
        {% if prediction %}

        <div class="result">

            <h2>{{ prediction }}</h2>

            <p>
                Confidence :
                {{ confidence }}%
            </p>

        </div>

        {% endif %}

    </div>

</div>



<script>

function previewImage(event){

    const file = event.target.files[0];

    if(!file) return;

    document.getElementById("fileName").innerText =
        file.name;

    const preview =
        document.getElementById("preview");

    preview.src =
        URL.createObjectURL(file);

    preview.style.display = "block";

    // Clear old prediction

    const result =
        document.querySelector(".result");

    if(result){

        result.style.display = "none";
    }
}

</script>
</body>

</html>
